div.user-settings-wrapper {
    display: inline-block;
}

#searchResults {
    text-align: left;
}

div.table-responsive {
    padding: 0px;
}

.navbar {
    height: 200px;
}

#requestLink {
    position: relative;
}

span.newRequests {
    font-size: 15px;
    position: absolute;
    z-index: 10;
    top: 2px;
}

h4.media-heading {
    color: #000000;
}

div.dropdown-menu {
    color: #000000;
}

img.profilePicture {
    width: 64px;
    height: 64px;
}

span.friendName {
    width: 64px;
    font-size: 12px;
    color: darkred;
}

.table {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px;
}

.label {
    margin-right: 3px;
    margin-bottom: 3px;
    float: left;
    text-align: left;
}

#profileImagePreview {
    width: 64px;
    height: 64px;
    padding: 0px;
    margin: 0px;
}

.navbarCoverImage {
    height: 100px;
}

div.left-div, div.container
{
    margin: 0px;
}

div.comments {
    margin-left: 50px;
}

img.dropdown-toggle.profilePicture.img-rounded:hover {
    cursor: pointer;
}

img.dropdown-toggle.profilePicture.img-rounded:hover + div.dropdown-menu, img.dropdown-toggle.profilePicture.img-rounded:focus + div.dropdown-menu {
    display: block;
}

img.genderPicture {
    height: 40px;
    width: 40px;
}