<div ng-include="'templates/partial/header.html'"></div>
<div class="content-wrapper">
    <div class="container">
        <h4 class="page-head-line">{{pageTitle}}</h4>
        <div class="col-md-6">
            <form class="form-horizontal" name="registerForm" ng-controller="ProfileController" ng-submit="changePassword()">
                <fieldset>
                    <br />
                    <label>Old Password :  </label>
                    <input type="password" class="form-control" id="oldPassword" ng-model="changePasswordData.oldPassword" required="required"/>
                    <label>New Password :  </label>
                    <input type="password" class="form-control" id="newPassword" ng-model="changePasswordData.newPassword" required="required"/>
                    <label>Confirm Password :  </label>
                    <input type="password" class="form-control" id="confirmPassword" ng-model="changePasswordData.confirmPassword" required="required"/>
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-floppy-save"></span> &nbsp;Save Changes</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>