<div ng-include="'templates/partial/header.html'"></div>
<div class="content-wrapper">
    <div class="container">
        <h4 class="page-head-line">{{pageTitle}}</h4>
        <div class="col-md-6">
            <form class="form-horizontal" name="registerForm" ng-controller="ProfileController" ng-submit="changeMyProfile()">
                <fieldset>
                    <div class="form-group" ng-controller="UploadController">
                        <label for="profileImage" class="col-md-3 control-label">Profile picture<br/>Limit: 128kb</label>
                        <div class="col-md-9">
                            <img id="profileImagePreview" class="img-rounded center-block col-lg-12" ng-src="{{profileImage ? profileImage : userData.profileImageData}}""/>
                            <input type="file"  class="form-control" ng-model="profileImage" base-sixty-four-input
                                   id="profileImage" ng-file-select="onFileSelect($files)">
                        </div>
                    </div>
                    <br />
                    <label>Name : </label>
                    <input type="text" class="form-control" id="registerName" ng-model="userData.name" required="required"/>
                    <label>Email :  </label>
                    <input type="email" class="form-control" id="registerEmail" ng-model="userData.email" required="required"/>
                    <label>Gender:</label><br/>
                    <input type="radio" id="male" value="1" name="gender" required="required" ng-model="userData.gender"><label for="male" class="radio-inline">Male</label><br/>
                    <input type="radio" id="female" value="2" name="gender" required="required" ng-model="userData.gender"><label for="female" class="radio-inline">Female</label>
                    <hr />
                    <div class="form-group" ng-controller="UploadController">
                        <label for="coverImage" class="col-md-3 control-label">Cover picture<br/>Limit: 1024kb</label>
                        <div class="col-md-9">
                            <img id="coverImagePreview" class="img-rounded center-block col-lg-9" ng-src="{{coverImage ? coverImage : userData.coverImageData}}"/>
                            <input type="file"  class="form-control" ng-model="coverImage" base-sixty-four-input
                                   id="coverImage" ng-file-select="onFileSelect($files)">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-floppy-save"></span> &nbsp;Save Changes</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>