<div ng-controller="ProfileController">
    <div class="panel panel-default col-lg-12">
        <div class="panel-heading">
            <a href="#/users/{{ username }}/friends">Friends - {{ friends.length }} total</a>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table col-lg-12">
                    <tbody>
                    <tr>
                        <td class="col-lg-3">
                            <div ng-show="friends[0]">
                                <span class="friendName">{{ friends[0]['name'] }}</span>
                                <img src="{{ friends[0]['profileImageData'] ? friends[0]['profileImageData'] : 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png'}}" alt="" class="img-rounded profilePicture"/>
                            </div>
                        </td>
                        <td class="col-lg-3">
                            <div ng-show="friends[1]">
                                <span class="friendName">{{ friends[1]['name'] }}</span>
                                <img src="{{ friends[1]['profileImageData'] ? friends[1]['profileImageData'] : 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png'}}" alt="" class="img-rounded profilePicture"/>
                            </div>
                        </td>
                        <td class="col-lg-3">
                            <div ng-show="friends[2]">
                                <span class="friendName">{{ friends[2]['name'] }}</span>
                                <img src="{{ friends[2]['profileImageData'] ? friends[2]['profileImageData'] : 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png'}}" alt="" class="img-rounded profilePicture"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-3">
                            <div ng-show="friends[3]">
                                <span class="friendName">{{ friends[3]['name'] }}</span>
                                <img src="{{ friends[3]['profileImageData'] ? friends[3]['profileImageData'] : 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png'}}" alt="" class="img-rounded profilePicture"/>
                            </div>
                        </td>
                        <td class="col-lg-3">
                            <div ng-show="friends[4]">
                                <span class="friendName">{{ friends[4]['name'] }}</span>
                                <img src="{{ friends[4]['profileImageData'] ? friends[4]['profileImageData'] : 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png'}}" alt="" class="img-rounded profilePicture"/>
                            </div>
                        </td>
                        <td class="col-lg-3">
                            <div ng-show="friends[5]">
                                <span class="friendName">{{ friends[5]['name'] }}</span>
                                <img src="{{ friends[5]['profileImageData'] ? friends[5]['profileImageData'] : 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png'}}" alt="" class="img-rounded profilePicture"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
