<div class="panel panel-primary" ng-controller="MainController">
    <div class="panel-heading">
        <a href="#/users/{{ currentUser.username }}/friends" style="color: #ffffff">Friends - {{ friends.length }} total</a>
    </div>
    <div class="table panel-body col-lg-12">
        <div class="col-lg-4" ng-repeat="friend in friends | limitTo : 6">
            <div class="dropdown" ng-controller="AuthenticationController">
                <img class="dropdown-toggle profilePicture img-rounded" data-toggle="dropdown"
                     aria-expanded="false" ng-mouseover="showUserPreviewData(friend.username)"
                     ng-src="{{ friend.profileImageData || 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png'}}" />
                <div class="dropdown-menu dropdown-settings" ng-include="'templates/partial/friendPreview.html'"
                     ng-if="preveiwedUserData.username != userData.username"></div>
                <span class="friendName"><a href="{{ '#/users/' + friend.username }}">{{ friend.name }}</a></span><br/>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
