<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Please Login or Register To Enter </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" name="loginForm" ng-submit="login()">
                    <fieldset>
                        <h4> Login with <strong>Social Network Account  :</strong></h4>
                        <br />
                        <label>Username : </label>
                        <input type="text" class="form-control" />
                        <label>Password :  </label>
                        <input type="password" class="form-control" />
                        <hr />
                        <a href="#/home" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Login</a>&nbsp;
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal" name="registerForm" ng-submit="register()">
                    <fieldset>
                        <h4> Register to <strong>Social Network</strong></h4>
                        <br />
                        <label>Username : </label>
                        <input type="text" class="form-control" />
                        <label>Password :  </label>
                        <input type="password" class="form-control" />
                        <label>Confirm Password :  </label>
                        <input type="password" class="form-control" />
                        <label>Email :  </label>
                        <input type="email" class="form-control" />
                        <label>Gender:</label><br/>
                        <input type="radio" id="male" value="male" name="gender"><label for="male" class="radio-inline">Male</label><br/>
                        <input type="radio" id="female" value="female" name="gender"><label for="female" class="radio-inline">Female</label>
                        <hr />
                        <a href="#/home" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Register</a>&nbsp;
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>