<div class="navbar navbar-inverse set-radius-zero" ng-controller="NavigationController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home/">
                <img src="{{ userData['profileImageData'] ? userData['profileImageData'] : 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png'}}" class="profilePicture img-rounded" />
            </a>
            <span style="font-size: 25px;"><a href="#/users/{{ userData.username }}">{{ userData.name }}</a></span>
        </div>
        <div class="left-div">
            <div class="user-settings-wrapper">
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <span class="glyphicon glyphicon-comment" style="font-size: 25px;"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-settings-wrapper">
                <ul class="nav">
                    <li class="dropdown">
                        <a id="requestLink" class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span>
                            <span class="newRequests">{{ pendingRequests }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-settings">
                            <div ng-if="requests.length > 0" ng-repeat="request in requests" id="{{ request['id']}}">
                                <div class="media">
                                        <img src="{{ request['user']['profileImageData'] ? request['user']['profileImageData'] : 'http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png'}}" class="img-rounded" />
                                    <div class="media-body">
                                        <h4 class="media-heading"> {{ request['user']['name'] }}</h4>
                                    </div>
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-info" ng-click="accept($event)"></span>Accept</button>
                                <button type="submit" class="btn btn-info" ng-click="reject($event)"></span>Reject</button>
                                <hr />
                            </div>
                            <span>{{ pendingRequests }} total requests</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="user-settings-wrapper">
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#/profile" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog" style="font-size: 25px;"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-settings-wrapper">
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#/profile/password" aria-expanded="false">
                            <span class="glyphicon glyphicon-wrench" style="font-size: 25px;"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-settings-wrapper" ng-controller="AuthenticationController">
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#/home/" aria-expanded="false" ng-click="logout()">
                            <span class="glyphicon glyphicon-log-out" style="font-size: 25px;"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-settings-wrapper">
                <div class="form-group has-feedback">
                    <div>
                        <input type="text" class="form-control" ng-model="searchString" ng-change="search()"/>
                        <i class="glyphicon glyphicon-search form-control-feedback" style="color: darkred"></i>
                    </div>
                    <div class="table-responsive panel panel-success col-lg-12" ng-if="searchString">
                        <div class="panel-body">
                            <table class="table table-hover" id="searchResults">
                                <thead>
                                <tr>
                                    <th>{{results.length}} users found!</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="danger" ng-repeat="foundUser in results">
                                    <td>
                                        <a ng-href="#/users/{{foundUser.username}}"><img class="img-small"
                                                                                         ng-src="{{foundUser.profileImageData}}"/><span> {{foundUser.name}}</span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <img class="col-md-12 navbarCoverImage" src="{{ userData['coverImageData'] }}"/>
        </div>
    </div>
</div>